/* =========================
   BODY
========================= */
body {
    margin: 0;
    background-color: #000;   /* Pure Black */
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}


/* =========================
   GLASS FRAME
========================= */
.frame {
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.05);
    margin: auto;
}


/* =========================
   PROFILE IMAG
/* =========================
   CURSOR GLOW EFFECT
========================= */
.cursor-glow {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.08s linear;
    box-shadow: 0 0 15px white, 0 0 30px white;
    z-index: 9999;
}
