/* =========================
   BODY
========================= */
body {
    margin: 0;
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    cursor: none;
}


/* =========================
   GLASS FRAME
========================= */
.frame {
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 30px;
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.05);
    margin: auto;
}


/* =========================
   PROFILE WRAPPER
========================= */
.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px 0;
}

.profile-pic {
    width: 240px;
    height: 240px;
    object-fit: cover;
    position: relative;
    z-index: 2;
    border: 4px solid white;
    border-radius: 10px; /* small smooth corner */
    transition: transform 0.4s ease;
}

.profile-pic:hover {
    transform: scale(1.05);
}

/* Rotating Glow Ring */
.profile-wrapper::before {
    content: "";
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff3c78, #00f7ff);
    z-index: 1;
    animation: rotateGlow 6s linear infinite;
    filter: blur(25px);
}

@keyframes rotateGlow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* =========================
   BUTTONS
========================= */
button {
    margin: 10px;
    padding: 10px 15px;
    background-color: #111;
    color: white;
    border: 1px solid #444;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #333;
}


/* =========================
   INFO BOX
========================= */
.info-box {
    display: none;
    background-color: rgba(255,255,255,0.08);
    padding: 15px;
    margin: 10px auto;
    width: 90%;
    border-radius: 8px;
    text-align: left;
}


/* =========================
   STAR EFFECT
========================= */
.star {
